<nav class ="navigation">
	<div class="content">
		<ul>
			<li class="nav-links"><a href="https://github.com/tylerbrewer2/news_cloudr" target ="_blank">Github</a></li>
			<li class="nav-links"><a href="<%= contact_path %>">Contact</a></li>
			<li class="nav-links"><a href="<%= about_path %>">About</a></li>
		</ul>
	</div>
  <a href= <%=root_path%>><img class="logo" src="<%= asset_path( 'cloudr.png' ) %>"></a>
</nav>


<div class="container">
	<div id="word-cloud"></div>
</div>
<%= javascript_include_tag 'd3' %>
<%= javascript_include_tag 'd3.layout.cloud' %>

<%= render partial: 'article', :formats => [:js] %>
