<nav class ="navigation">
	<div class="content">
		<ul>
			<li class="nav-links"><a href="#">Log In</a></li>
			<li class="nav-links"><a href="#">Sign Up</a></li>
		</ul>
	</div>
  <a href= <%=root_path%>><img class="logo" src="<%= asset_path( 'cloudr.png' ) %>"></a>
</nav>


<div class="container">
	<div id="word-cloud"></div>
</div>
<%= javascript_include_tag 'd3' %>
<%= javascript_include_tag 'd3.layout.cloud' %>
<script>(function() {

<% test1 = [] %>
<% test2 = [] %>
<% test3 = [] %>

<% @articles.take(50).each {|article| test1 << article.title.scan(/^((?:\S+\s+){2}\S+).*/i).join(' ')} %>
<% @articles.take(50).each {|article| test2 << article.order_num} %>
<% @articles.take(50).each {|article| test3 << article.link } %>

<%test4 = []  %>
<% test2.each do |num| %>
  <% case %>
    <% when test2[0] == num then test4 << 64 %>
    <% when test2[1] == num then test4 << 36 %>
		<% when test2[2..4].include?(num) then test4 << 32 %>
		<% when test2[5..10].include?(num) then test4 << 16 %>
    <% when test2[11..20].include?(num) then test4 << 14 %>
    <% when test2[21..30].include?(num) then test4 << 12 %>
    <% when test2[31..50].include?(num) then test4 << 8 %>
  <% end %>
<% end %>

var jWord = <%= raw test1.to_json %>;
var jCount = <%= raw test4.to_json %>;
var jLink = <%= raw test3.to_json %>;

/////// START WORD CLOUD \\\\\\\\\

var fill = d3.scale.category20d();

var width = $(window).width();
var height = $(window).height();

var layout = d3.layout.cloud()
    .size([width, height])
    .words(d3.zip(jWord, jCount, jLink).map(function(d) {
        return {text: d[0], size: d[1] * 2, url: d[2]};
    }))
    .padding(1)
    .rotate(function() { return ~~(Math.random() * 1) * 90; })
    .font("Oswald")
    .fontSize(function(d) { return d.size; })
    .on("end", drawCloud);
layout.start();

function drawCloud(words) {
  d3.select("#word-cloud").append("svg")
      .attr("width", width)
      .attr("height", height)
    .append("g")
      .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")")
    .selectAll("text")
      .data(words)
    .enter().append("text")
      .style("font-size", function(d) { return d.size + "px"; })
      // changes font-family
      .style("font-family", "Oswald")
			.style("font-weight", "700")
      // changes text color
      .style("fill", function(d, i) { return fill(i); })
      .attr("text-anchor", "middle")
      .attr("transform", function(d) {
        return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
      })
      .text(function(d) { return d.text; })
      .on("click", function (d, i){
          window.open(d.url, "_blank");
      });
}
})();

$("#word-cloud").hide();
$("#word-cloud").fadeIn(1200);
</script>
