<body class="navigation_page">
	<nav class ="navigation">
		<div class="content">
			<ul>
				<li class="nav-links"><a href="https://github.com/tylerbrewer2/news_cloudr" target ="_blank">Github</a></li>
				<li class="nav-links"><a href="#">Contact</a></li>
				<li class="nav-links"><a href="<%= about_path %>">About</a></li>
			</ul>
		</div>
	  <a href= <%=root_path%>><img class="logo" src="<%= asset_path( 'cloudr.png' ) %>"></a>
	</nav>

	<div class="dropdown">
		<h1>Welcome.</h1>
	  <%= form_for :category, url: articles_path do |f| %>
	    <%= collection_select(:category, :id, Category.all, :name, :name, {prompt: "Select a Category"}, {class: 'form-control'})%><br>
	    <%= f.submit "Generate Cloud", class: 'btn btn-info submit' %>
	  <% end  %>
	</div>
</body>
